@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disable-blur{
    image-rendering: pixelated; 
    -ms-interpolation-mode: nearest-neighbor;
  }
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Karmatic'; 
  src: url('src/fonts/ka1.ttf');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Minecraft'; 
  src: url('/fonts/Minecraft-Regular.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Minecraft'; 
  src: url('/fonts/Minecraft-Bold.otf');
  font-weight: bold;
  font-style: normal;

}
:root {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



@media (prefers-color-scheme: light) {
  :root {
  
    background-color: #ffffff;
  }

 
}
