.textContainer {
  background-color:#ecc3fc;
  border: 4px solid #28192d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 52vh;
  left: 4vw;
  padding: 2vw;   
  
}
.shadowTextContainer {
  background-color:#28192d;
  border: 4px solid #28192d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 51vh;
  left: 3.5vw;
  padding: 2vw; 
  
}


.textContainer span {
  opacity: 1;
  color:black;
  transition: opacity 0.3s;
  padding: 3px;
}

.textContainer span.revealed {
  opacity: 1;
  
}

.textContainer span.red {
  color: red;
}


.wrapped{
  word-wrap: normal;
  overflow-wrap: break-word;
}