@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.container{
  display: flex; 
  justify-content: center;
}

.gifAnimated{
  image-rendering: pixelated;           
  -ms-interpolation-mode: nearest-neighbor; 
}

.imageOne {
  background-image: url('/Switch-night.png');
}

.imageTwo {
  background-image: url('/Switch-day.png');
}


.clickTo{
  font-family: "Minecraft"; 
  animation: blink 1s infinite; 
  pointer-events: none;
}